body {
            font-family:"Helvetica", sans-serif;
            background-color: rgb(250,190,100);
 
        }

        .topic {
        	text-align: center;
        	background-color: rgb(250,115,100);
        }

        .personal_info {
        	text-align: center;
        }

        .tooltip .tooltiptext {
              visibility: hidden;
              width: 150px;
              background-color: #555;
              color: #fff;
              text-align: center;
              padding: 5px 0;
              border-radius: 6px;
             } 

         .tooltip:hover .tooltiptext {
                  visibility: visible;
                  opacity: 1;
        }


        .whole_table{
        	background-color: rgb(235,250,100);

              }

        .table_topic{
        	background-color: rgb(250,115,100);
        }

        .academicpara{
        	text-align: right;	
        }
        .academicimg{
        	margin-right: auto;
        	width: 10%;
        	border: 5px solid #555;
        }

        
        .thesisimg1{
        	margin-right: auto;
        	width: 20%;
            border: 5px solid #555;
              object-fit:cover;
        }
      

        .percent{text-align: right;
        }

        h1{
        	text-decoration: underline;
        }

        .github{
        	text-align: right;	
        }

        .githubimg{
        	width: 40px;
        }

