body {
            font-family:"Helvetica", sans-serif;
            background-color: rgb(0,200,200);
 
        }

        .topic {
        	text-align: center;
        	background-color:blue;
        }

        .personal_info {
        	text-align: center;
        }

        .tooltip .tooltiptext {
              visibility: hidden;
              width: 120px;
              background-color: #555;
              color: #fff;
              text-align: center;
              padding: 5px 0;
              border-radius: 6px;
             } 

         .tooltip:hover .tooltiptext {
                  visibility: visible;
                  opacity: 1;
        }

        .whole_table{
        	background-color: rgb(200,200,0);

              }

        .table_topic{
        	background-color: rgb(200,0,0);
        }

        .percent{
        }
        h1{
        	text-decoration: underline;
        }
        .github{text-align: right;

        }